@import url('https://fonts.googleapis.com/css?family=Sanchez|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  box-sizing: border-box;
}

.emph {
    font-family: 'Sanchez', serif;
}

.navbar {
    width: 100vw;
    text-align: center;
    /*border-bottom: 4px solid black;*/
}

.app_title, .app_title:visited {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2.5em;
    text-align: center;
    color: black;
}

.app_title:hover {
  color: rgb(50,50,50);
}

.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*align-content: center;*/
  flex-wrap: wrap;
}

.new_target_button {
  text-align: center;
  font-size: 1.25em;
  padding: 10px;
  background-color: black;
  border-radius: 2px;
  color: white;
  width: 50vw;
  margin: 5px 25vw;
}

.new_target_button:hover {
  cursor: pointer;
  background-color: rgb(25,25,25);
}

.targets_list {
  border-top: 4px solid black;
  padding-top: 2vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*align-content: center;*/
  flex-wrap: wrap;
}

.target_mini_section {
  width: 90vw;
  padding: 10px;
  margin: 10px 5vw;
  /*border-bottom: 3px rgb(125,125,125) dashed;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*align-content: center;*/
  flex-wrap: nowrap;
}

.target_mini_section > .name {
  width: 25vw;
  text-align: left;
  font-size: 1.15em;
}

.target_mini_section > .status {
  width: 25vw;
  text-align: left;
  background-color: rgb(75,75,75);
  border-radius: 2px;
  padding: 5px;
  color: white;
  text-align: center;
}

.target_mini_section > .target_controls {
  width: 30vw;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*align-content: center;*/
  flex-wrap: nowrap;
}

.target_mini_section > .target_controls > div {
  padding: 5px;
  margin: 0px 5px;
  border-radius: 2px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.target_mini_section > .target_controls > div:hover {
  background-color: rgb(75,75,75);
  color: white;
}

.target_section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.target_save {
  width: 50vw;
  margin: 2vh 25vw;
  padding: 5px;
  border-radius: 2px;
  background-color: lightgreen;
  cursor: pointer;
}

.target_save:hover {
  background-color: forestgreen;
}

.t_label {
  width: 50vw;
  text-align: right;
  padding: 10px;
}

.info, .info_input {
  width: 20vw;
  margin-right: 25vw;
}
