@import url('https://fonts.googleapis.com/css?family=Sanchez|Raleway');

body,input,select,textarea {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  box-sizing: border-box;
}

input, select, option, textarea {
  margin: 0;
  padding: 0;
  text-align: center;
  text-align-last: center;
}



.emph {
    font-family: 'Sanchez', serif;
}

.navbar {
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
}

.app_title, .app_title:visited {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.app_title:hover {
  color: rgb(225,225,225);
}

.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pipeline {
  width: 80vw;
  margin-top: 20px;
  background-color: rgb(200,200,200);
  border-radius: 5px;
  padding: 1%;
}

.pipeline_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
}

.pipeline_title {
  width: 40%;
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
}

.pipeline_controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.filter_controls {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 50%;
}

.filter_search_button {
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 3px;
}

.new_target_button {
  text-align: center;
  padding: 5px;
  background-color: black;
  border-radius: 2px;
  color: white;
  margin: 5px;
}

.new_target_button:hover {
  cursor: pointer;
  background-color: rgb(25,25,25);
}

.targets_list {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.target_mini_section {
  width: 100%;
  padding: 10px;
  border: 5px solid rgb(200,200,200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.target_mini_section > .name {
  width: 25%;
  text-align: left;
  font-size: 1.15em;
}

.target_mini_section > .status {
  width: 25%;
  text-align: left;
  background-color: rgb(75,75,75);
  border-radius: 2px;
  padding: 5px;
  color: white;
  text-align: center;
}

.target_mini_section > .target_controls {
  width: 30%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.target_mini_section > .target_controls > div {
  padding: 5px;
  margin: 0px 5px;
  border-radius: 2px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.target_mini_section > .target_controls > div:hover {
  background-color: rgb(75,75,75);
  color: white;
}

.target_mini_section > .target_controls > .target_view:hover {
  color: lightblue;;
}

.target_mini_section > .target_controls > .target_edit:hover {
  color: lightgreen;;
}

.target_mini_section > .target_controls > .target_delete:hover {
  color: lightcoral;
}

.target_section {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.target_save {
  width: 50vw;
  margin: 2vh 25vw;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(200,200,200);
  cursor: pointer;
  font-size: 1.25em;
}

.target_save:hover {
  background-color: skyblue;
}

.t_section_title {
  font-size: 1.35em;
  padding: 5px;
  width: 100vw;
  text-align: center;
}

.contacts {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.c_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.add_contact_button {
  width: 30vw;
  margin: 2vh 35vw;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(225,225,225);
  cursor: pointer;
}

.add_contact_button:hover {
  background-color: lightgreen;
}

.remove_contact_button {
  width: 30vw;
  margin: 2vh 35vw;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(225,225,225);
  cursor: pointer;
}

.remove_contact_button:hover {
  background-color: lightcoral;
}

.c_label, .f_label, .t_label {
  width: 25vw;
  padding: 3px 0;
  margin-left: 25vw;
  text-align: left;
}

.c_info, .c_info_input, .info, .info_input, .f_data, .f_data_input {
  width: 25vw;
  padding: 3px 0;
  margin-right: 25vw;
  text-align: right;
}

.financials {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.f_title {
  width: 40vw;
  padding: 3px;
  text-align: right;
}
